/* Styling for the navigation bar */
.navbar {
  padding: 1rem;
  background-color: #1B1B1B;
  text-align: center;
  justify-content: center;
  border-radius: 0 0 8px 8px;
}

/* Styling for the unordered list */
.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

/* Styling for each list item */
.nav-item {
  margin: 0 15px;
}

/* Styling for the anchor links */
.nav-link {
  text-decoration: none;
  color: #9C9C9C;
  font-size: 1.1rem;
  font-weight: light;
}

.nav-link:hover {
  color: #007bff;
}